{{- $src := .cover -}}
{{- $remote := partial "is-remote.html" $src -}}
{{- $img := "" -}}
{{- if not $remote -}}
  {{- with .page.Resources.GetMatch $src }}{{ $img = . }}{{ else }}{{ with resources.Get $src }}{{ $img = . }}{{ end }}{{ end -}}
{{- end -}}
{{- $url := $src -}}
{{- with $img -}}
  {{- $url = .RelPermalink -}}
{{- else -}}
  {{- if not $remote }}{{ $url = urls.JoinPath site.BaseURL $src }}{{ end -}}
{{- end -}}
<img class="post-thumbnail" src="{{ $url | safeURL }}" alt="" loading="lazy" decoding="async"
  {{- if and $img (reflect.IsImageResourceProcessable $img) }} width="{{ $img.Width }}" height="{{ $img.Height }}"{{ end }}>
